
*{
	margin: 0;
	padding: 0;	
}

#app{
	width: 100%;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.farm{
	margin: 0;
	height: 100%;
}

.farm-information{
	position: absolute;
	right: 0;
	-webkit-animation: farm-info-change 2.2s ease-in-out infinite alternate;
    -o-animation: farm-info-change 2.2s ease-in-out infinite alternate;
    animation: farm-info-change 2.2s ease-in-out infinite alternate;
}
@-webkit-keyframes farm-info-change {
  from { opacity: .7 }
  to { opacity: 0 }
}
@keyframes farm-info-change {
  from { opacity: .7 }
  to { opacity: 0 }
}
.farm-information-row{
	width: 100%;
	background: rgba(50,50,50,0.9);
	line-height: 1;
	color: #FFFFFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 3em;
	top: 5px;
	height: 25px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	display: table;
}
.farm-row{
	display: table-cell;
	padding: 0px 2px;
}
.f-title{
	color: #ff8d12;
}
.f-val{
	color: white;
}




			 			/*****************farm-top 游戏大厅 框设置*******************/
.farm{
	height: 100%;
	width: 100%;
}



#farm-user-info{
	width: 400px;
	height: 158px;
	position: fixed;
	left:0;
	top: 0;
	background: url(../images/app/main/main_bg2.png)no-repeat;
}
#farm-user-head-wrap{
	width: 150px;
	height: 150px;
	background: url(../images/app/main/main_bg2_kuang.png)no-repeat;
	position: absolute;
	left: 2px;
	top: 2px;
}
#farm-user-head{
	width: 115px;
	height: 112px;
	background: url(../images/app/main/touxiang.png)no-repeat;
	background-position: center center; 
	left: 12px;
	top: 15px;
	position: absolute;
	border-radius: 10px;
}
#farm-user-name{
	width: 240px;
	height: 30px;
	position: absolute;
	left: 150px;
	top: 40px;
}
.farm-user-font{
	color: white;
	font-weight: bold;
	font-size: 28px;
	font-size: "幼圆","黑体",sans-serif;
	line-height: 30px;
}
#farm-user-id{
	width: 240px;
	height: 30px;
	position: absolute;
	left: 150px;
	top: 100px;
}
.user-lever{
	width: 34px;
	height: 34px;	
	position: absolute;
	z-index: 100;
	left: 110px;
}
.user-lever[lever=user_lever_7]{
	background: url(../images/app/main/vip_icon7.png)no-repeat;
}
.user-lever[lever=user_lever_1]{
	background: url(../images/app/main/vip_icon1.png)no-repeat;
}
.user-lever[lever=user_lever_2]{
	background: url(../images/app/main/vip_icon2.png)no-repeat;
}
.user-lever[lever=user_lever_3]{
	background: url(../images/app/main/vip_icon3.png)no-repeat;
}
.user-lever[lever=user_lever_4]{
	background: url(../images/app/main/vip_icon4.png)no-repeat;
}
.user-lever[lever=user_lever_5]{
	background: url(../images/app/main/vip_icon5.png)no-repeat;
}
.user-lever[lever=user_lever_6]{
	background: url(../images/app/main/vip_icon6.png)no-repeat;
}

.mail-message{
	left: 110px;
	bottom: 10px;
	width: 34px;
	height: 34px;
	background: url(../images/app/main/mail-message.png)no-repeat 0 0;
	position: absolute;
}
.notice-message{
	left: 6px;
	bottom: 10px;
	width: 34px;
	height: 34px;
	background: url(../images/app/main/notice-message.png)no-repeat 0 0;
	position: absolute;
}
.message-number{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	padding-left: 8px;
	color: white;
}









				/*****************farm-top-info 游戏顶端   两个  信息框设置*******************/


.farm-top-info{
	width: 570px;
	height: 175px;
	background: url(../images/app/main/main_bg1.png)no-repeat;
	position: fixed;
	display: inline-block;
	float: left;
}
#farm-top-info-1{
	left: 410px;
	top: 0;
}
.farm-info{
	width: 260px;
	height: 54px;
	float: left;
	margin-left: 22px;
	margin-top: 25px;	
}
.farm-info-name{
	font-size: 40px;
	color: white;
	padding-left: 2px;
	line-height: 20px;	
	font-weight: bold;
	font-size: "幼圆","黑体",sans-serif;
	letter-spacing: -1px;
	float: left;
}
.farm-info-data{
	width: 150px;
	height: 56px;
	float: left;
	background: url(../images/app/main/main_bg1_kuang.png)no-repeat;
	margin-top: -15px;
	margin-left: 3px;
}
.farm-data{
	line-height: 53px;
	padding-left: 12px;
	color: yellow;
	font-weight: bold;
	font-size: 27px;
	line-height: 56px;
}
.farm-topleft-info{
	width: 300px;
	height: 450px;
	position: fixed;
	display: inline-block;
	float: left;
	top: 150px;
}
.farm-info-data-2{
	width: 150px;
	height: 56px;
	float: left;
	background: url(../images/app/main/main_bg1_kuang.png)no-repeat;
	margin-top: -3px;
	margin-left: 3px;
}

.farm-info-ico{
	width: 50px;
	height: 47px;
	display: inline-block;
	float: left;
}
#farm-info-ico1{	
	background: url(../images/app/main/topicon_4.png)no-repeat;	
}
#farm-info-ico2{	
	background: url(../images/app/main/topicon_2.png)no-repeat;	
}
#farm-info-ico3{	
	background: url(../images/app/main/topicon_3.png)no-repeat;
    background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 2vw;
    left: 4.5vw;
    transform: rotate(10deg);	
    z-index: 3000;	
}

.loading-sate-ani{
  -webkit-animation: laoding_sate 20s linear  infinite  ;
  animation: laoding_sate 20s linear  infinite  ;
}


@keyframes laoding_sate{
	0%{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	20%{
		transform: rotate(10deg) translate(22vh,15vh);
		-webkit-transform: rotate(10deg)translate(22vh,15vh);
	}
	50%{
		background: url(../images/app/main/topicon_3.png)no-repeat;
		transform: rotate(30deg) translate(45vw,-10vh);
		-webkit-transform: rotate(30deg) translate(45vw,-10vh);		
	}
	85%{
		transform: rotate(-130deg) translate(12vw,-2vh);
		-webkit-transform: rotate(-130deg) translate(12vw,-2vh);
	}
	100%{
		transform: rotate(-380deg) translate(-4vw,0vh);
		-webkit-transform: rotate(-380deg) translate(-4vw,0vh);
	}
}
@-webkit-keyframes laoding_sate{
	0%{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	20%{
		transform: rotate(10deg) translate(22vh,15vh);
		-webkit-transform: rotate(10deg)translate(22vh,15vh);
	}
	50%{
		background: url(../images/app/main/topicon_3.png)no-repeat;
		transform: rotate(30deg) translate(45vw,-10vh);
		-webkit-transform: rotate(30deg) translate(45vw,-10vh);		
	}
	85%{
		transform: rotate(-130deg) translate(12vw,-2vh);
		-webkit-transform: rotate(-130deg) translate(12vw,-2vh);
	}
	100%{
		transform: rotate(-380deg) translate(-4vw,0vh);
		-webkit-transform: rotate(-380deg) translate(-4vw,0vh);
	}
	
}


#farm-info-ico4{	
	background: url(../images/app/main/topicon_1.png)no-repeat;
	background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    transform: rotate(-10deg);
    top: 10px;    	
}
.loading-sate-ani-2{
  -webkit-animation: laoding_sate-2 6s normal  infinite  ;
  animation: laoding_sate-2 6s normal  infinite  ;
}
@-webkit-keyframes laoding_sate-2 {
  from { 
    transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
  }
  to {  
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
  }
}
@keyframes laoding_sate-2 {
  25% { 
    transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
  }
  50%{
  	transform: rotate(20deg); 
    -webkit-transform: rotate(30deg); 
  }
  75%{
  	transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg);
  }
  100% {  
    transform: rotate(20deg);
    -webkit-transform: rotate(30deg);
  }
}








						/*****************farm-top farm-game-info 左侧栏  农场管理框*******************/

										
.farm-game-info{
	position: relative;
	width: 499px;
	height: 1350px;
	background: url(../images/app/main/main_bg3.png)no-repeat;
	position: absolute;
	left: -50px;
	top: 220px;
	z-index: 200;
}
.farm-game-orchard{
	width: 376px;
	height: 88px;
	background: url(../images/app/main/main_but3_down.png)no-repeat;
	margin-left: 60px;
	margin-top: 8px;
	cursor: pointer;
	text-align: center;
}
.farm-orchard-style{
	background: url(../images/app/main/main_bg4.png)no-repeat;
	width: 333px;
	height: 73px;
	float: left;
	margin-top: 5px;
	display: block;
	margin-left: 80px;
}
#orchard-click-3 .farm-orchard-style{
	height: 70px!important;
	margin-top: 3px;
}
.farm-orchard-font{
	font-size: 44px;
	color: white;
	padding-left: 70px;
	line-height: 76px;	
	font-weight: bold;
	font-size: "幼圆","黑体",sans-serif;
	letter-spacing: -1px;
}
.farm-orchard-font3{
	font-size: 46px;
	color: white;
	padding-left: 24px;
	line-height: 76px;	
	font-weight: bold;
	font-size: "幼圆","黑体",sans-serif;
	letter-spacing: -1px;
}
.farm-orchard-font2{
	line-height: 90px;
	font-size: 49px;
	color: white;
	font-weight: bold;
	font-size: "幼圆","黑体",sans-serif;
	letter-spacing: -1px;
	text-align: center;
}
.farm-game-orchard-hide{
	height: 470px;
	width: 400px;
	top: 90px;
	left: 15px;
}
#farm-game-orchard-logout{
	width: 333px;
	height: 80px;
	background: url(../images/app/main/main_but3_up.png)no-repeat;
	position: absolute;
	bottom: 90px;
	cursor: pointer;
	left: 90px;	
}
.farm-game-orchard-click{
	background: url(../images/app/main/main_but2.png)no-repeat;
	position: absolute;
	z-index: 10;
	height: 222px;
	width: 130px;
	left: -35px;
	top: 580px;
	/*display: none;*/	
}
.farm-game-orchard-click-2{
	background: url(../images/app/main/main_but1.png)no-repeat;
	position: absolute;
	z-index: 10;
	height: 290px;
	width: 170px;
	left: 420px;
	top: 580px;
	display: none;
}






                          /*****************农场田地设置*******************/      

.farm-floor{
	width: 649px;
	height: 333px;
	position: absolute;
	top: 680px;
	left: 150px;
	z-index: 5;
}
.beans{
	display: none;
    position: absolute;
    width: 110px;
    height: 25px;
    background: url(../images/beans.png)no-repeat 0 0;
    background-size: 75px;
    font-family: "microsoft yahei";
    text-align: center;
    left: 13px;
    top: 24px;
    font-size: 20px;
    z-index: 1;
    background-size: 110px;
}
.land{
    position: absolute;
    width: 132px;
    height: 83px;
}
.land[groundnumber="1"]{
	left: 185px;
    top: -35px;
}
.land[groundnumber="2"]{
	left: 110px;
    top: 0px;
}
.land[groundnumber="3"]{
left: 35px;
    top: 38px;
}
.land[groundnumber="4"]{
    left: -40px;
    top: 73px;
}
.land[groundnumber="5"]{
	left: -114px;
    top: 109px;
}
.land[groundnumber="6"]{
    left: 280px;
    top: 10px;
}
.land[groundnumber="7"]{
    left: 206px;
    top: 48px;
}
.land[groundnumber="8"]{
left: 130px;
    top: 84px;
}
.land[groundnumber="9"]{
	left: 58px;
    top: 122px;
}
.land[groundnumber="10"]{
	left: -19px;
    top: 160px;
}
.land[groundnumber="11"]{
    left: 375px;
    top: 60px;
}
.land[groundnumber="12"]{
left: 301px;
    top: 97px;
}
.land[groundnumber="13"]{
    left: 225px;
    top: 135px;
}
.land[groundnumber="14"]{
    left: 152px;
    top: 173px;
}
.land[groundnumber="15"]{
	left: 75px;
    top: 210px;
}

.land[groundnumber="16"]{
    left: 468px;
    top: 109px;
}
.land[groundnumber="17"]{
    left: 394px;
    top: 146px;
}
.land[groundnumber="18"]{
    left: 318px;
    top: 182px;
}
.land[groundnumber="19"]{
    left: 240px;
    top: 220px;
}
.land[groundnumber="20"]{
    left: 166px;
    top: 258px;
}

.land[groundnumber="21"]{
	left: 565px;
    top: 159px;
}
.land[groundnumber="22"]{
    left: 490px;
    top: 196px;
}
.land[groundnumber="23"]{
	left: 416px;
    top: 233px;
}
.land[groundnumber="24"]{
    left: 338px;
    top: 270px;
}
.land[groundnumber="25"]{
	left: 264px;
    top: 309px;
}

.land[groundnumber="26"]{
left: 674px;
    top: 213px;
}
.land[groundnumber="27"]{
    left: 600px;
    top: 252px;
}
.land[groundnumber="28"]{
left: 524px;
    top: 292px;
}
.land[groundnumber="29"]{
left: 447px;
    top: 330px;
}
.land[groundnumber="30"]{
left: 370px;
    top: 367px;
}

.land[lever=land_lever_2]{
	background: url(../images/app/main/foor_2.png)no-repeat 0 0;
		background-size:135px;
}
.land[lever=land_lever_3]{
	background: url(../images/app/main/foor_3.png)no-repeat 0 0;
		background-size:135px;
}
.land[lever=land_lever_1]{
	background: url(../images/app/main/foor_1.png)no-repeat 0 0;
		background-size:135px;
}
.land[lever=land_lever_0]{
	background: url(../images/app/main/foor_0.png)no-repeat 0 0;
		background-size:135px;
}
.land[lever=land_lever_4]{
	background: url(../images/app/main/foor_4.png)no-repeat 0 0;
		background-size:135px;
}
.land[lever=land_lever_5]{
	background: url(../images/app/main/foor_5.png)no-repeat 0 0;
		background-size:135px;
}
.land[lever=land_lever_6]{
	background: url(../images/app/main/foor_6.png)no-repeat 0 0;
		background-size:135px;
}




							/*****************农场田地操作动画效果设置*******************/


.tool-show-chandi{
	width: 90px;
	height: 120px;
	/**background: url(../images/final/chantu/chantu-gif.gif)no-repeat 0 0;**/
	position: absolute;
	top: -50px;
	left: 60px;
	z-index: 100;	
}

                            /***********************10种树木形态设置***************************************/
.land > .tree[lever=tree_lever_1]{
	background: url(../images/final/shu_1.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}                             
.land > .tree[lever=tree_lever_2]{
	background: url(../images/final/shu_2.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_3]{
	background: url(../images/final/shu_3.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_4]{
	background: url(../images/final/shu_4.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_5]{
	background: url(../images/final/shu_5.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_6]{
	background: url(../images/final/shu_6.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_7]{
	background: url(../images/final/shu_7.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_8]{
	background: url(../images/final/shu_8.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_9]{
	background: url(../images/final/shu_9.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}
.land > .tree[lever=tree_lever_10]{
	background: url(../images/final/shu_10.png)no-repeat 0 0;
    background-size: 80px;
    background-position: -8px -8px;
}


.land > .tree{
position: absolute;
    width: 70px;
    height: 65px;
    left: 43px;
    top: -20px;
}






							/*****************农场左下角 工具栏设置*******************/
                                    
                                
                                    
                                    
                                    
.farm-tool{
	width: 985px;
	height: 117px;
	min-height: 10px;
	position: fixed;
	z-index: 2;
	bottom: 0px;
}
.farm-tool-list{
	position: relative;
	width: 158px;
	height: 168px;
	float: left;
	margin-left: -7px;
	cursor: pointer;
	bottom: 50px;
}
.farm-tool-list[tool="1"]{
	margin-left: 40px;
}


.farm-tool-list.tip:before{
	content: "";
	position: absolute;
	top: -15px;
	left: 24px;
	width: 37px;
	height: 42px;
	background: url(../images/tip.gif)no-repeat 0 0;
	margin-left: 10px;
}


									/*****************农场左下角 工具栏高亮设置*******************/	

.tool_1.selected{
	background: url(../images/app/main/chandi_but_over.png)no-repeat 0 0;
}
.tool_6.selected{
	background: url(../images/app/main/zengzhong_but_over.png)no-repeat 0 0;
}
.tool_2.selected{
	background: url(../images/app/main/jiaoshui_but_over.png)no-repeat 0 0;
}
.tool_3.selected{
	background: url(../images/app/main/caimi_but_over.png)no-repeat 0 0;
}
.tool_4.selected{
	background: url(../images/app/main/shifei_but_over.png)no-repeat 0 0;
}
.tool_5.selected{
	background: url(../images/app/main/shouhuo_but_over.png)no-repeat 0 0;
}
.tool_8.selected{
	background: url(../images/app/main/touqie_but_over.png)no-repeat 0 0;
}
									
.tool_1{
	background: url(../images/app/main/chandi_but.png)no-repeat 0 0;
}
.tool_6{
	background: url(../images/app/main/zengzhong_but.png)no-repeat 0 0;
}
.tool_2{
	background: url(../images/app/main/jiaoshui_but.png)no-repeat 0 0;
}
.tool_7{
	background: url(../images/app/main/shuaxin.png)no-repeat 0 0;
}
.tool_4{
	background: url(../images/app/main/shifei_but.png)no-repeat 0 0;
}
.tool_5{
	background: url(../images/app/main/shouhuo_but.png)no-repeat 0 0;
}
.tool_3{
	background: url(../images/app/main/caimi_but.png)no-repeat 0 0;
}
.tool_8{
	background: url(../images/app/main/touqie_but.png)no-repeat 0 0;
}

.tool_6.auto{
	background: url(../images/app/main/one_zengzhong_but.png)no-repeat 0 0;
	    background-size:100%;
}
.tool_4.auto{
	background: url(../images/app/main/one_shifei_but.png)no-repeat 0 0;
	 background-size:100%;
}
.tool_5.auto{
	background: url(../images/app/main/one_shouhuo_but.png)no-repeat 0 0;
	background-size:100%;
}	





	

								/*****************页面居中 的提示信息 设置*******************/
.farm-warm{
	font-size: 2.5em;
	position: absolute;
	left: 40%;
	top: 15%;
	font-weight: bold;
	height: 70px;
	width: 500px;
	overflow: hidden;
	color: #FFFFFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	text-overflow: ellipsis;
	margin-left: -150px;
	line-height: 70px;
	border-radius: 3em;
	background: rgba(0,0,0,0.5);	
}

#no-daocao{
	opacity: 0;
}

#no-pipiguo{
	opacity: 0;
}
#no-feiliao{
	opacity: 0;
}
#no-pipiguo-land{
	opacity: 0;
}



/******farm-warm 点击增种工具后     单击土地   弹出的输入框  ******/

.farm-grow-wrap{
	position: fixed;
	background: url(../images/final/farm-grow-1.png)no-repeat;
	width: 485px;
	height: 375px;
	z-index: 200;
	left: 300px;
	top: 520px;
	display: none;
}
#farm-grow-close{
	position: absolute;
	background: url(../images/final/farm-grow-4.png)no-repeat;
	width: 74px;
	height: 78px;
	z-index: 201;
	left: 390px;
	top: 10px;
	cursor: pointer;
}
#farm-grow-text{
	position: absolute;
	left: 120px;
	top: 85px;
	color: rgb(185,140,85);
	font-weight: bold;
	font-size: 28px;
}
#farm-grow-juzi{
	position: absolute;
	background: url(../images/final/juzi.png)no-repeat;
	width: 60px;
	height: 60px;
	left: 135px;
	top: 150px;
}
#farm-grow-input{
	position: absolute;
	left: 210px;
	top: 150px;
}
#farm-grow-number{
	font-size: 30px;
	font-weight: bold;
	background-image: url(../images/final/farm-grow-3.png);
	width: 108px;
	height: 64px;
	padding-left: 30px;
	line-height: 64px;
	color: white;
	cursor: pointer;
	border: none;
	background-color: rgb(253,236,212);
}
#farm-grow-confirm{
	position: absolute;
	background: url(../images/final/farm-grow-2.png)no-repeat;
	width: 180px;
	height: 71px;
	left: 140px;
	bottom: 40px;
	cursor: pointer;
}




									/*****************农场守护狗设置*******************/
.dog{
	top: 123%;
	left: 65%;
	position: relative;
	width: 117px;
	height: 116px;
	background: url(../images/bigdog.GIF)no-repeat 0 0;
	z-index: 20;
}

.husky {
	top: 49%;
    left: 0%;
    position: relative;
    background: url(../images/husky.gif) no-repeat 0 0;
    width: 120px;
    height: 104px;
    z-index: 30;
}
									/*****************四个稻草人设置*******************/
.scarecrow-socket{
	position: absolute;
	cursor: url(../images/scarecrow.ico),auto;
	width: 70px;
	height: 124px;
}
.scarecrow-socket[name=IsLocationOnePlugin]{
	top: 990px;
	left: 310px;
	z-index: 60;
}
.scarecrow-socket[name=IsLocationTwoPlugin]{
	top: 1050px;
	left: 770px;
	z-index: 60;
}
.scarecrow-socket[name=IsLocationThreePlugin]{
	top: 1050px;
	left: 870px;
	z-index: 60;
}
.scarecrow-socket[name=IsLocationFourPlugin]{
	top: 1030px;
	left: 400px;
	z-index: 60;
}
.scarecrow{
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 0;
	width: 92px;
	height: 101px;
	background: url(../images/scarecrow.ico)no-repeat center bottom;
	display: none;	
}
.scarecrow:before{
	
}          
.daocaoren{
	content: "稻草人";
	text-align: center;
	display: block;
	margin-top: 100px;
	line-height: 24px;
	color: black;
	margin-left: -1px;
	font-weight: bold;
	font-size: 2em;
	width: 90px;
}




						/****************回到自家农场     设置 ********************/


.back-own-farm{
	width: 142px;
	height: 143px;
	background: url(../images/final/main/huijia_but.png)no-repeat;
	position: absolute;
	top: -10px;
	right: -4px;
	cursor: pointer;
	z-index: 10;
}

.onecm-farm{
	width: 142px;
	height: 143px;
	background: url(../images/final/main/caimi_but.png)no-repeat;
	position: absolute;
	top: -10px;
	right: -4px;
	cursor: pointer;
	z-index: 10;
	background-size: 100%;
}



						/****************背景音效设置       面板设置 ********************/
#bg-music-setting{
	cursor: pointer;
}
.bg-music-set{
	width: 484px;
	height: 356px;
	background: url(../images/final/main/set_bg1.png)no-repeat;
	position: absolute;
	left: 30%;
	top: 35%;
	z-index: 200;
	display: none;
}
#bg-music-close{
	width: 67px;
	height: 70px;
	background: url(../images/final/main/set_but1.png)no-repeat;
	position: absolute;
	left: 390px;
	top: 20px;
	cursor: pointer;
}
.music-set-1{
	margin-top: 100px;
	position: absolute;
	top: 60px;
}
.music-set-2{	
	margin-top: 100px;
	position: absolute;
	top: 90px;
}
.music-set-letter{
	font-size: 25px;
	line-height: 50px;
	color: rgb(191,126,62);
	font-weight: bold;
	margin-left: 100px;
}
#bg-music-but1{
	width: 121px;
	height: 61px;
	background: url(../images/final/main/set_but_open.png)no-repeat;
	position: absolute;
	left: 220px;
	top: -8px;
	cursor: pointer;
}
#bg-music-but3{
	width: 121px;
	height: 61px;
	background: url(../images/final/main/set_but_closed.png)no-repeat;
	position: absolute;
	left: 220px;
	top: -8px;
	cursor: pointer;
	display: none;
}
#bg-music-but2{
	width: 121px;
	height: 61px;
	background: url(../images/final/main/set_but_open.png)no-repeat;
	position: absolute;
	left: 220px;
	top: -8px;
	cursor: pointer;
}
#bg-music-but4{
	width: 121px;
	height: 61px;
	background: url(../images/final/main/set_but_closed.png)no-repeat;
	position: absolute;
	left: 220px;
	top: -8px;
	cursor: pointer;
	display: none;
}

/*****************新春效果设置***********************/

#xinchun1{
	position: fixed;
	background: url(../images/app/xinchun_manbut_bg2.png)no-repeat;
	width: 115px;
	height: 482px;
	top: 0;
	right: 0;
	z-index: -10;	
}

#xinchun2{
	position: fixed;
	background: url(../images/app/xinchun_manbut_bg3.png)no-repeat;
	width: 115px;
	height: 482px;
	top: 0;
	left: 0;
	z-index: -10;	
}

#xinchun3{
	position: fixed;
	background: url(../images/app/xinchun_manbut_icon1.png);
	width: 200px;
	height: 163px;
	left: -3%;
	bottom: 4%;
	z-index: -10;
}

#xinchun4{
	position: fixed;
	background: url(../images/app/xinchun_manbut_icon2.png);
	width: 168px;
	height: 170px;
	right: -3%;
	bottom: 4%;
	z-index: -10;
}

#request-msg{
	opacity: 0;
	z-index: 5;
}

#chantu{
	background-image: url(/statics/images/final/chantu/chantu.png);
	width: 90px;
	height: 120px;
	display: block;
	z-index:200;
	position:absolute;
	left:70px;
	bottom:30px;
}

#jiaoshui{
	background-image: url(/statics/images/final/jiaoshui/jiaoshui.png);
	width: 225px;
	height: 192px;
	display: block;
	z-index:200;
	position:absolute;
	left: -10px;
	bottom: 10px;
}

#caimi{
	background-image: url(/statics/images/final/caimi/caimi.png);
	width: 160px;
	height: 120px;
	display: block;
	z-index:200;
	position:absolute;
	left:5px;
	bottom:70px;
}

#shifei{
	background-image: url(/statics/images/final/shifei/shifei.png);
	width: 120px;
	height: 194px;
	display: block;
	z-index:200;
	position:absolute;
	left:45px;
	bottom:50px;
}

#shouhuo{
	background-image: url(/statics/images/final/shouhuo/shouhuo.png);
	width: 91px;
	height: 86px;
	display: block;
	z-index:200;
	position:absolute;
	left:50px;
	bottom:60px;
}





.modal-dialog,
.modal-content {
	/* 80% of window height */
	height: 80%;
}

.modal-body {
	/* 100% = dialog height, 120px = header + footer */
	max-height: calc(100% - 200px);
	/*overflow-y: scroll;*/
}