*{
    padding:0;
    margin:0;
}
@font-face{
    font-family:fangzheng;
    /*为引入的字体命名*/
    src:url(../font/fangzheng.ttf);
    /*定义要引入字体文件的路径*/
}
html,body{
     width:100%;
     height:100%;
     background: url("../images/app/muchang-photo/muchang.png") no-repeat;
     background-size:cover;
     overflow: hidden;
 }
.zhong{
    width:100%;
}
.top{
    width:100%;
    border:1px solid black;

}
.top-left{
    width: 405px;
    height: 154px;
    float: left;
    /*background: rgba(255,255,255,0.5);*/
    background: #E38A0B;
    border-radius: 40px;
}
.top-left-left{
    width: 150px;
    height: 160px;
    float: left;
}
.user-logo img{
    width: 147px;
    height: 142px;
    margin-top: 8%;
    border-radius: 45px;
}
.user_bg{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 4;
    background: url(../images/app/muchang-photo/userinfo-bg.png);
    top: 4px;
}
/*.top-left-left a{*/
    /*width:34px;*/
    /*height:34px;*/
    /*position: relative;*/
    /*z-index: 6;*/
    /*border-radius: 50%;*/
    /*float: left;*/
    /*top:-47px;*/
    /*line-height: 34px;*/
    /*text-align: center;*/
    /*margin-left: 25px;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*font-size: 3rem;*/
/*}*/
/*.top-left-left span{*/
    /*width: 55px;*/
    /*height: 55px;*/
    /*position: relative;*/
    /*z-index: 6;*/
    /*float: left;*/
    /*border-radius: 50%;*/
    /*top: -56px;*/
    /*line-height: 55px;*/
    /*text-align: center;*/
    /*margin-left: 25px;*/
    /*font-weight: bold;*/
    /*color: white;*/
    /*font-size: 3rem;*/
    /*background: red;*/
/*}*/
.notice{
    width:34px;
    height:34px;
    position: relative;
    z-index: 6;
    border-radius: 50%;
    float: left;
    top: 119px;
    line-height: 34px;
    text-align: center;
    margin-left: 25px;
    font-weight: bold;
    color: white;
    font-size: 3rem;
    background: url(../images/app/main/notice-message.png)no-repeat 0 0;
}
.inmail{
    width: 55px;
    height: 55px;
    position: relative;
    z-index: 6;
    float: left;
    border-radius: 50%;
    top: 111px;
    line-height: 55px;
    text-align: center;
    margin-left: 25px;
    font-weight: bold;
    color: white;
    font-size: 3rem;
    background: red;
}
.top-left-right{
    width: 230px;
    height: 157px;
    float: left;
    text-align: left;
    line-height: 68px;
    padding-top: 13px;
    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;/*强制不换行*/
    text-overflow:ellipsis;/*文字隐藏后添加省略号*/
}
.username{
    /*color: #AE6F10;*/
    color: white;
    text-shadow: #ffffff;
    font-weight: bold;
    font-size: 41px;
}
.jinyan_add{
    width: 5rem;
    height: 4rem;
    /* border: 1px solid blue; */
    position: absolute;
    z-index: 6;
    float: left;
    left: 27rem;
    top: 5rem;
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    color: white;
     display: none;
}
.top-right{
    width: 565px;
    height: 175px;
    background: url("../images/app/muchang-photo/6.png")no-repeat;
    float: right;
}
.rangeland-info-name{
    font-size: 40px;
    color: white;
    font-weight: bold;
    letter-spacing: -1px;
    float: left;
}
.rangeland-info-data{
    width: 144px;
    height: 56px;
    float: left;
    text-align: center;
    line-height: 56px;
    font-family: fangzheng;
    background: url(../images/app/main/main_bg1_kuang.png)no-repeat;
}
.rangeland-info-data span{
    display: block;
    font-size: 3.5rem;
}
.rangeland-data{
    color: #F3F110;
    font-weight: bold;
    font-size:27px;
}
.rangeland-info{
    width: 231px;
    height: 59px;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
}
.rangeland-info2{
    width: 302px;
    height: 59px;
    margin-top: 10px;
    float: left;
}
.sidebar{
    width:612px;
    height:1350px;
    /*border:1px solid red;*/
    float: left;
    z-index: 25;
    position: absolute;
    margin-top: 200px;
    margin-left: -8px;
}
.menu{
    width: 499px;
    height: 1350px;
    background: url("../images/app/muchang-photo/cebian.png") no-repeat;
    float: left;
    margin-left: -33px;
}
.hide2{
    width: 171px;
    height: 290px;
    background: url(../images/app/muchang-photo/3.png) no-repeat;
    /* left: 420px; */
    /* top: 580px; */
    z-index: 25;
    position: relative;
    float: left;
    margin-top: 475px;
    margin-left: -7px;
}
.main_list{
    width: 376px;
    height: 88px;
    line-height: 88px;
    background: url(../images/app/muchang-photo/2.png)no-repeat;
    /*margin-left: 60px;*/
    /*margin-top: 90px;*/
    text-align: center;
}
.main_list a{
    font-size: 49px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: fantasy;
}
.part_list{
    width: 324px;
    margin-left:25px;
}
.part_list ul li{
    background: url(../images/app/muchang-photo/1.png)no-repeat;
    width: 333px;
    height: 73px;
    float: left;
    margin-top: 5px;
    /*padding-left: 70px;*/
    text-align: center;
    list-style: none;
}
.part_list ul li a{
     text-align: center;
     color:white;
     font-weight: bold;
     font-size: 44px;
     line-height: 76px;
 }
.part_list ul li span{
    text-align: center;
    color:white;
    font-weight: bold;
    font-size: 44px;
    line-height: 76px;
}
.kuai{
     /*padding: 69px; */
    width: 382px;
    height: 1096px;
    margin-top: 84px;
    overflow: hidden;
    margin-left: 57px;
}
#farm-game-orchard-logout {
    width: 333px;
    height: 80px;
    background: url(../images/app/muchang-photo/5.png)no-repeat;
    position: absolute;
    bottom: 90px;
    cursor: pointer;
    left: 55px;
    text-align: center;

}
.farm-orchard-font2{
    line-height: 90px;
    font-size: 49px;
    color: white;
    font-weight: bold;
}
.show2{
    background: url(../images/app/muchang-photo/4.png)no-repeat;
    position: absolute;
    z-index: 22;
    height: 294px;
    width: 179px;
    left: -35px;
    top: 715px;
}
.bg-music-set{
    width: 484px;
    height: 356px;
    background: url(../images/final/main/set_bg1.png)no-repeat;
    position: absolute;
    left: 30%;
    top: 35%;
    z-index: 200;
    display: none;
}
#bg-music-close {
    width: 67px;
    height: 70px;
    background: url(../images/final/main/set_but1.png)no-repeat;
    position: absolute;
    left: 390px;
    top: 20px;
    cursor: pointer;
}
.music-set-1{
    width:100%;
    height:177px;
    float: left;
}
.music-set-letter {
    font-size: 28px;
    color: rgb(191,126,62);
    font-weight: bold;
    float: left;
    margin-left: 100px;
    margin-top: 99px;
}
#bg-music-but1 {
    width: 121px;
    height: 61px;
    background: url(../images/final/main/set_but_open.png)no-repeat;
    cursor: pointer;
    float: left;
    margin-left: 45px;
    margin-top: 85px;
}
#bg-music-but3 {
    width: 121px;
    height: 61px;
    cursor: pointer;
    float: left;
    margin-left: 45px;
    margin-top: 85px;
    display: none;
    background: url(../images/final/main/set_but_closed.png)no-repeat;
}
.music-set-letter2 {
    font-size: 28px;
    color: rgb(191,126,62);
    font-weight: bold;
    float: left;
    margin-left: 100px;
    margin-top: 60px;
}
.music-set-2{
    width:100%;
    height:177px;
    float: left;
}
#bg-music-but2{
    width: 121px;
    height: 61px;
    background: url(../images/final/main/set_but_open.png)no-repeat;
    cursor: pointer;
    float: left;
    margin-left: 45px;
    margin-top: 44px;
}
#bg-music-but4{
    width: 121px;
    height: 61px;
    cursor: pointer;
    float: left;
    margin-left: 45px;
    margin-top: 44px;
    display: none;
    background: url(../images/final/main/set_but_closed.png)no-repeat;
}
/*.user-info{*/
    /*width: 300px;*/
    /*height: 450px;*/
    /*position: fixed;*/
    /*display: inline-block;*/
    /*!* float: right; *!*/
    /*top: 188px;*/
    /*left: 674px;*/
    /*z-index: 22;*/
    /*!* position: absolute; *!*/
    /*!* margin-top: 34px; *!*/
    /*border: 1px solid red;*/
/*}*/
.beibao{
    width: 175px;
    height: 175px;
    background: url(../images/app/muchang-photo/beibao.png);
    background-size: cover;
    z-index: 22;
    top: 188px;
    left: 800px;
    position: absolute;
}
#turnback{
    text-shadow:4px 1px 0px #6F3E15;
    width: 5rem;
    height: 10rem;
    color: #FDF037;
    text-align: center;
    display: block;
    font-size: 4rem;
    float: left;
    text-decoration: none;
    /*border: 1px solid red;*/
    position: absolute;
    z-index: 20;
    top: 189px;
    left: 66px;
}
.go{
    width: 112px;
    height: 114px;
    float: left;
    top: 184px;
    z-index: 19;
    position: absolute;
    margin-left: 40px;
    background: url(../images/app/muchang-photo/to_farm.png)no-repeat;
    background-size: contain;
}
/*.total{*/
    /*width: 260px;*/
    /*height: 54px;*/
    /*float: left;*/
    /*margin-left: 22px;*/
    /*margin-top: 25px;*/
    /*border:1px solid green;*/
/*}*/
/*.tubiao{*/
    /*width:50px;*/
    /*height:47px;*/
    /*background: url(../images/app/main/topicon_4.png)no-repeat;*/
/*}*/

.medaw-farm{
    width: 978px;
    height: 468px;
    border: 1px solid red;
    float: left;
    margin-top: 282px;
    position: relative;
    /* margin-left: 70px; */
    overflow: hidden;
}
.tree{
    width:150px;
    height:150px;
    float: right;
    background: url("../images/app/muchang-photo/tree.png");
    position: relative;
    z-index:18;
    margin-top: 27px;
    /*border:1px solid black;*/
}

/*猪*/
.pig{
    width:110px;
    height:90px;
    position:absolute;
    z-index: 2;
    display: inline-block;
    /*transition: all 5s;*/
    /*-moz-transition: all 5s;*/
    /*-webkit-transition: all 5s;*/
    /*-o-transition:all 5s;*/


    /*-webkit-animation-name: pigmove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes pigmove !*Safari and Chrome*!*/
/*{*/
    /*25% {left:50px;top:50px;}*/
    /*50% {left:150px;top:60px;}*/
    /*60% {left:170px;top:50px;}*/
    /*75% {left:190px;top:30px;}*/
    /*100% {left:200px;top:0px;}*/
/*}*/

/*羊*/
/*.sheep-around{*/
    /*width:300px;*/
    /*height:420px;*/
    /*float: left;*/
    /*border:1px solid black;*/
/*}*/
.sheep{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 4;
    display: inline-block;
    /*-webkit-animation-name:sheepmove;*/
    /*-webkit-animation-duration: 9s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes sheepmove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:0px;top:150px;}*!*/
    /*25% {left:30px;top:120px;}*/
    /*50% {left:50px;top:90px;}*/
    /*75% {left:100px;top:50px;}*/
    /*100% {left:0px;top:0px;}*/

/*}*/


/*牛*/
.cow{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 6;
    display: inline-block;
    /*-webkit-animation-name:cowmove;*/
    /*-webkit-animation-duration: 9s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes cowmove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:350px;top:150px;}*!*/
    /*25% {left:370px;top:150px;}*/
    /*50% {left:400px;top:150px;}*/
    /*75% {left:370px;top:150px;}*/
    /*100% {left:350px;top:150px;}*/

/*}*/
#cow{
    position: absolute;
}

/*猫*/
.cat{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 8;
    display: inline-block;
    /*-webkit-animation-name:catmove;*/
    /*-webkit-animation-duration: 9s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes catmove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:250px;top:100px;}*!*/
    /*25% {left:220px;top:120px;}*/
    /*50% {left:200px;top:110px;}*/
    /*75% {left:220px;top:120px;}*/
    /*100% {left:250px;top:100px;}*/

/*}*/


/*羊驼*/
.alpaca{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 10;
    display: inline-block;
    /*-webkit-animation-name:alpacamove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes alpacamove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:0px;top:0px;}*!*/
    /*25% {left:0px;top:200px;}*/
    /*50% {left:0px;top:210px;}*/
    /*75% {left:0px;top:200px;}*/
    /*100% {left:0px;top:0px;}*/

/*}*/


/*黑猫*/
.blackcat{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 12;
    display: inline-block;
    /*-webkit-animation-name:blackcatmove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes blackcatmove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:0px;top:0px;}*!*/
    /*25% {left:10px;top:60px;}*/
    /*50% {left:100px;top:100px;}*/
    /*75% {left:10px;top:60px;}*/
    /*100% {left:0px;top:0px;}*/

/*}*/

/*猫鼬*/
.maoyou{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 14;
    display: inline-block;
    /*-webkit-animation-name:maoyoumove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes maoyoumove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:0px;top:0px;}*!*/
    /*25% {left:10px;top:60px;}*/
    /*50% {left:100px;top:200px;}*/
    /*75% {left:40px;top:60px;}*/
    /*100% {left:0px;top:0px;}*/

/*}*/

/*蜜蜂*/
.bee{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:relative;
    /*transform: scale(0.7);*/
    z-index: 16;
    display: inline-block;
    /*-webkit-animation-name:beemove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes beemove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:0px;top:0px;}*!*/
    /*25% {left:10px;top:60px;}*/
    /*50% {left:100px;top:100px;}*/
    /*75% {left:10px;top:60px;}*/
    /*100% {left:0px;top:0px;}*/

/*}*/

/*动物便便*/
.bianbian{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:absolute;
    transform: scale(0.4);
    z-index: 1;
    display: inline-block;
    /*-webkit-animation-name:bianmove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes bianmove !*Safari and Chrome*!*/
/*{*/

    /*!*0% {left:0px;top:0px;}*!*/
    /*!*25% {left:300px;top:60px;}*!*/
    /*!*50% {left:100px;top:100px;}*!*/
    /*!*75% {left:10px;top:60px;}*!*/
    /*!*100% {left:0px;top:0px;}*!*/

/*}*/
/*蚊子*/
.wenzi{
    width:110px;
    height:90px;
    /*border:1px solid red;*/
    position:absolute;
    transform: scale(0.4);
    z-index: 2;
    display: inline-block;
    /*-webkit-animation-name:wenzimove;*/
    /*-webkit-animation-duration: 12s;*/
    /*-webkit-animation-iteration-count: infinite; !*无限循环*!*/
    /*-webkit-animation-timing-function: linear;*/
    /*-webkit-animation-direction: alternate;!*反向循环播放*!*/
}
/*@-webkit-keyframes wenzimove !*Safari and Chrome*!*/
/*{*/

/*!*0% {left:0px;top:0px;}*!*/
/*!*25% {left:300px;top:60px;}*!*/
/*!*50% {left:100px;top:100px;}*!*/
/*!*75% {left:10px;top:60px;}*!*/
/*!*100% {left:0px;top:0px;}*!*/

/*}*/

/*动物动态公用*/
.pigmove,.sheepmove,.cowmove,.catmove,.alpacamove,.blackcatmove,.maoyoumove,.beemove,.bianmove,.wenzimove{
    width:106px;
    height:80px;
    position: relative;
    -webkit-animation-name: animal-self-motion;
    -webkit-animation-duration: 0.45s;
    -webkit-animation-iteration-count: infinite; /*无限循环*/
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;/*反向循环播放*/

}
/*@-webkit-keyframes animal-self-motion !*Safari and Chrome*!*/
/*{*/
    /*from {height:80px;width: 106px;}*/
    /*to {height:90px;width: 110px;}*/
/*}*/
.toolbar-bg{
    width: 100%;
    height: 117px;
    margin-top: 633px;
    float: left;

}
.toolbar{
    width: 100%;
    height: 190px;
    min-height: 10px;
    position: absolute;
    z-index: 20;
    bottom: 0px;
    margin-bottom: 25px;
    padding-left: 5px;
    padding-top: 10px;
    background: url(../images/app/main/main_but_bg.png)no-repeat 7px 30px;

}
.clear{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    margin-left: 17px;
    overflow: hidden;
    background: url("../images/app/muchang-photo/clear2.png")no-repeat;
    background-size: cover;
}
.clear.selected{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    margin-left: 17px;
    overflow: hidden;
    background: url("../images/app/muchang-photo/dasao_gaoliang2.png")no-repeat;
    background-size: cover;
}

.store{
    width: 168px;
    height: 182px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    background: url("../images/app/muchang-photo/store2.png");
    background-size: cover;
}
.store.selected{
    width: 168px;
    height: 182px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    background: url("../images/app/muchang-photo/store_gaoliang2.png")no-repeat;
    background-size: cover;
}
.qucong{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/qucong2.png")no-repeat;
    background-size: cover;
}
.qucong.selected{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/quchong_gaoliang2.png")no-repeat;
    background-size: cover;
}
.feed{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/feed2.png")no-repeat;
    background-size: cover;
}
.feed.selected{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/feed_gaoliang2.png")no-repeat;
    background-size: cover;
}
.shouhuo_but{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/shouhuo_but2.png")no-repeat;
    background-size: cover;
}
.shouhuo_but.selected{
    width: 158px;
    height: 182px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/shouhuo_but._gaoliang2.png")no-repeat;
    background-size: cover;
 }
.shuaxin{
    width: 158px;
    height: 190px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/shuaxin2.png")no-repeat;
    background-size: cover;
}
.shuaxin.selected{
    width: 158px;
    height: 190px;
    float: left;
    cursor: pointer;
    background: url("../images/app/muchang-photo/shuaxin_gaoliang2.png")no-repeat;
    background-size: cover;
}
.hint{
    display: none;
    font-size: 2em;
    position: absolute;
    left: 40%;
    top: 15%;
    font-weight: bold;
    height: 70px;
    width: 500px;
    overflow: hidden;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    text-overflow: ellipsis;
    margin-left: -150px;
    line-height: 70px;
    border-radius: 3em;
    background: rgba(0,0,0,0.5);
    opacity: 1;
}
.modal-content{
    width: 835px;
    height: 1291px;
    background: url(../images/app/muchang-photo/shop_bg.png)no-repeat;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 182px;
     border: none;
     border-radius: 6px;
     outline:none;
     -webkit-box-shadow:none;
     box-shadow:none;
}
.btn{
    width:78px !important;
    height:70px !important;

}
.btn-primary{
    color: #fff;
    border-color: rgba(46,109,164,0.1) !important;
}
.modal-header {
    /*border:1px solid black;*/
    width: 100%;
    height: 105px;
    padding: 0px !important;
    border-bottom: none;
    /*float: left;*/
    /*margin-top: 102px;*/
}
.modal-header-ziji{
    width: 100%;
    height: 105px;
    margin-top: 105px;
    z-index: 10;
    position: absolute;
}
.modal-text{
    width: 347px;
    height: 105px;
    float: left;
    color: #FCFF48;
    font-family: fangzheng;
    text-shadow: #000 5px 5px 5px;
    line-height: 85px;
    text-align: center;
    font-size: 8rem;
    margin-left: 247px;
}
.anniu{
    width: 100px;
    height: 105px;
    float: left;
    margin-left: 129px;
    background: url(../images/app/muchang-photo/turndown.png)no-repeat;
    background-size: cover;
}
#subWinFrame{
    border: 1px solid green;
    width: 71%;
    height: 990px !important;
    margin-top: 19%;
    margin-left: 15%;
    /* border-bottom-left-radius: 95px; */
    overflow: hidden;
}
/*.modal-bottom{*/
    /*width:100%;*/
    /*height:8rem;*/
    /*float: left;*/
/*}*/
/*.modal-bottom-left{*/
    /*width: 30%;*/
    /*height: 6rem;*/
    /*float: left;*/
    /*background: url(../images/app/muchang-photo/di.png)no-repeat;*/
    /*background-size: cover;*/
    /*margin-top: 1.7rem;*/
    /*margin-left: 11rem;*/
/*}*/
/*.modal-bottom-right{*/
    /*width: 30%;*/
    /*height: 6rem;*/
    /*float: left;*/
    /*background: url(../images/app/muchang-photo/di.png)no-repeat;*/
    /*background-size: cover;*/
    /*margin-top: 1.7rem;*/
    /*margin-left: 7rem;*/
/*}*/
/*.modal-bottom-left-tubiao{*/
     /*width:28%;*/
     /*height:6rem;*/
     /*float: left;*/
     /*background: url("../images/app/muchang-photo/jinbi.png")no-repeat;*/
     /*background-size: contain;*/
 /*}*/
/*.modal-bottom-right-tubiao2{*/
    /*width: 28%;*/
    /*height: 5rem;*/
    /*float: left;*/
    /*background: url(../images/app/muchang-photo/zhuanshi2.png)no-repeat;*/
    /*background-size: contain;*/
    /*margin-top: 0.5rem;*/
/*}*/
/*.modal-bottom-left-text{*/
    /*width: 59%;*/
    /*height: 6rem;*/
    /*float: left;*/
    /*font-family: fangzheng;*/
    /*font-size: 4.5rem;*/
    /*color: white;*/
    /*margin-left: 2rem;*/
    /*overflow: hidden;*/
/*}*/
/*.modal-bottom-right-text{*/
    /*width: 59%;*/
    /*height: 6rem;*/
    /*float: left;*/
    /*font-family: fangzheng;*/
    /*font-size: 4.5rem;*/
    /*color: white;*/
    /*margin-left: 2rem;*/
    /*overflow: hidden;*/
/*}*/

.progress {
    width: 230px;
    height: 26px;
    margin-bottom: 20px;
    overflow: hidden;
    float: left;
    background-color: #dcd9d9;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    margin-top: 59px;
    font-size: 26px;
    border-radius: 15px;
    margin-left: 154px;
}
.progress-bar span{
    font-size: 2rem;
    color: #CA7902;
    text-shadow:0 0 0.2em #FFFFFF,
    -0 -0 0.2em #FFFFFF;
}
#farm-user-info {
    width: 400px;
    height: 158px;
    position: fixed;
    left: 0;
    top: 0;
    /* background: url(../images/app/main/main_bg2.png)no-repeat; */
    background: #E38A0B;
    border-radius: 40px;
}
#farm-user-head{
    width: 115px;
    height: 112px;
    background: url(../images/app/main/touxiang.png)no-repeat;
    background-position: center center;
    left: 12px;
    top: 15px;
    position: absolute;
    border-radius: 10px;
}
#farm-user-head-wrap {
    width: 150px;
    height: 150px;
    /* background: url(../images/app/main/main_bg2_kuang.png)no-repeat; */
    background: url(../images/app/muchang-photo/userinfo-bg.png);
    position: absolute;
    left: 2px;
    top: 2px;
}
/*#farm-user-name {*/
    /*width: 240px;*/
    /*height: 30px;*/
    /*position: absolute;*/
    /*left: 150px;*/
    /*top: 40px;*/
    /*float: left;*/
/*}*/

.farm-user-font {
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
}
#farm-user-id {
    /*width: 240px;*/
    /*height: 30px;*/
    /*position: absolute;*/
    /*left: 150px;*/
    /*top: 100px;*/

    width: 240px;
    height: 30px;
    position: absolute;
    left: 150px;
    top: 40px;
    float: left;
}